<section class="exhibitors-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-2 clearfix">
      <div class="top">
        <h1>Exhibitors</h1>
        <p>For immediate assistance and to request an exhibitor kit, please contact the SAF office directly</p>
        <br>
        <p><strong>Phone: 305.596.7889<br>Fax: 305.596.7713<br>E-mail: info@swimshow.com</strong></p>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>
