<section class="media-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-1 clearfix">
      <div class="top">
        <h1>Media<br>Requirements</h1>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="media-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/media.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>The Swimwear Association of Florida is pleased to invite qualified working journalists from consumer and trade news organizations to submit registration requests and credentials for media access into the tradeshow.</p>
        <p>Media credentials are reserved for editorial media only which includes editors, producers, reporters, camera crews and/or still photographers. Any employee of a media outlet who does not work in an editorial capacity will not be eligible to receive a media badge.</p>
        <p>Please complete the media registration form via on-line or faxed to 305.596.7713. Media registration is not available on site at the tradeshow; it must be completed in advance in order to attain approval status.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="space">Please note:</p>
        <ol>
          <li>Submitting this application does not automatically qualify you for a press credential.</li>
          <li>A history of prior attendance does not guarantee approval or waive any aforementioned requirements.</li>
          <li>Misrepresentation of position and/or publication news organization will bar you and your organization from all future Swimwear Association of Florida events.</li>
          <li>Swimwear Association of Florida reserves the right to modify this policy without public notice and may deny any applicant a press credential.</li>
          <li>Press credentials are reserved for working members of the media only. Employees of media outlet who do not work in an editorial capacity are not qualified for a press credential.</li>
        </ol>
        <p class="space">Press credential will not be granted to:</p>
        <ol>
          <li>Advertising personnel, including directors, managers, account executives, marketing managers, public relations, promotions, accounting, graphic designers, etc.</li>
          <li>Editors of in-house newsletters.</li>
          <li>Media outlets and editorial personnel whose publication, website or journal does not cover or reflect this industry.</li>
          <li>Anyone whose purpose for attending is, in our judgment, for reasons other than generating news coverage of the event or its participants.</li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="media-content-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 rightb">
        <h2>Media Requirements</h2>
        <ul>
          <li>Business card must include company name, contact name and editorial title (if your business card does not include an editorial title, an editorial credit/byline or masthead can be submitted)</li>
          <li>Recent masthead must be included</li>
          <li>Freelancers must submit a byline published within the last 6 months</li>
          <li>Print media must provide a recently published copy of the publication with attendees listed on the masthead or in byline of article</li>
          <li>Web publications must provide an existing secured site with relevant content that is updated on a continuing basis (personal web logs do not qualify)</li>
          <li>Freelance writers, video production companies and photographers must provide a letter from an editor or producer stating they are on assignment for an industry related publication</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Please mail sample publication and circulation figures to:</p>
        <p><strong>Publicity DepartmentSwimwear Association of Florida 8900 SW 117th Ave. Suite C-205 Miami, FL 33186</strong></p>
      </div>
    </div>
  </div>
</section>
<section class="pre-registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Online Media Registration</h1>
        <a href="#" class="btn btn-member">Registration</a>
      </div>
    </div>
  </div>
</section>
