<section class="retailers-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-2 clearfix">
      <div class="top">
        <h1>Retailer<br>Requirements</h1>
        <p>SwimShow is open to the trade only!</p>  
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>
