<section class="retailers-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-4 col-md-offset-2 clearfix">
      <div class="top">
        <h1>Retailer<br>Requirements</h1>
        <p>SwimShow is open to the trade only!</p>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>
<section class="retailer-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'retailer-model.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Buyers can be admitted by presenting a minimum of three (3) of the following forms of business identification. Those indicated in boldface must be presented:</p>
        <ul>
          <li>Personalized business card listing your business address & job title</li>
          <li>Recent invoices showing purchases of finished swimwear products within the last year</li>
          <li>Account list</li>
          <li>Current retail business license or federal resale tax certificate (international businesses are required to show VAT)</li>
          <li>Imprinted business check</li>
          <li>Corporate credit card or proof of merchant credit card ID</li>
          <li>Credit reference sheet showing companies you purchase from</li>
          <li>Current year executed sales tax return or sales tax coupon book</li>
          <li>Lease agreement for commercial space</li>
          <li>Document from chamber of commerce</li>
          <li>Original letter of intent from an attorney or bank on official letterhead stating the intent to start a new business (this is acceptable for new businesses only)</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>Plus one of the following forms of personal photo identification is required:</p>
        <ul>
          <li>Driver’s license or passport</li>
          <li>Government issued photo ID</li>
          <li>Credit card or bank card with photo</li>
        </ul>
        <br>
        <p>For veteran attendees, there is no need to supply credentials. Just fill out the retailer Pre-Registration form on this site BUT, if you are bringing new buyers who have never attended the show, each new buyer must provide the appropriate documents. A guest of a pre-registered buyer can get their badge at the pre-registration kiosks but must be accompanied by the buyer.</p>
        <br>
        <p>We reserve the right to request updated credentials at any time. This is a necessary function in order to keep our database current.</p>
        <br>
        <p><strong>Questions? Call 305.596.7889 or email info@swimshow.com<br>Please email credentials to info@swimshow.com</strong></p>
      </div>
    </div>
  </div>
</section>
<section class="pre-registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Online Pre-Registration</h1>
        <a href="#" class="btn btn-member">Pre-Registration</a>
      </div>
    </div>
  </div>
</section>
