<section class="showdates-head" role="banner">
  <div class="container-fluid">
    <div class="col-sm-12 col-md-6 clearfix">
      <div class="top">
        <h1>Show Dates</h1>
        <p>Save these dates for spectacular swimwear and lingerie</p>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="dates">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2>SwimShow</h2>
        <h3>July 18-21, 2015</h3>
        <p>Swim, run, fly or cruise your way to the 33rd annual SwimShow, sponsored by the Swimwear Association of Florida</p>
        <p><strong>Show Hours:<br>9am to 6pm: Saturday, Sunday, Monday<br>9am to 5pm: Tuesday</strong></p>
        <p>Check out the latest lines from around the globe in swimwear, accessories, beachwear and lingerie…over four days of dazzling celebrations and inspirations. Be among the first to see and share the latest in designs, trends, colors and brands!</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'https://s3.amazonaws.com/swim-show/Website+Images/dates.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<!-- COUNTER -->
<section class="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Get Ready for July 18 - 21</h2>
      </div>
    </div>
    <div class="counter-wrap col-sm-12">
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">217</p>
        <h6 class="sub-info">Months</h6>
      </div> <!-- end col-sm-3 -->
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">365</p>
        <h6 class="sub-info">Days</h6>
      </div> <!-- end col-sm-3 -->
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">403</p>
        <h6 class="sub-info">Hours</h6>
      </div> <!-- end col-sm-3 -->
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">189</p>
        <h6 class="sub-info">Seconds</h6>
      </div> <!-- end col-sm-3 -->
    </div> <!-- end counter-wrap -->
    <div class="col-sm-8 col-sm-offset-2">
      <div class="top-headline">
        <h3><em>...enjoy the <strong>SWIM!</strong></em></h3>
      </div> <!-- end headline -->
    </div> <!-- end col-sm-8 -->
  </div> <!-- end container -->
</section>
<!-- END COUNTER -->

<section class="dates-btm">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Feature Dates</h1>
        <p>(To Be Determained)</p>
      </div>
    </div>
  </div>
</section>
