<section class="special-head">
  <div class="container">
    <div class="col-sm-12 clearfix">
      <div class="top">
        <h1>Special Events</h1>
      </div>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="special-events">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Breakfast Bar</h1>
              <p>Saturday - Tuesday<br>9:00 - 10:30am Daily</p>
              <br>
              <a href="#" class="btn btn-member">View 2013 Images</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>High Tea</h1>
              <p>Saturday - Tuesday<br>3:30 - 4:30pm Daily</p>
              <br>
              <a href="#" class="btn btn-member">View 2013 Images</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Trend Seminars</h1>
              <p>Saturday, 12:30 - 1:30pm Daily<br>Monday, 11:00 - Noon</p>
              <br>
              <a href="#" class="btn btn-member">View 2013 Images</a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Swim Lounge</h1>
              <p>Saturday & Monday Evenings<br>6:00 - 7:30pm</p>
              <br>
              <a href="#" class="btn btn-member">View 2013 Images</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Fashion Show & After Party</h1>
              <p>Sunday 6:00pm</p>
              <br>
              <ul>
                <li><a href="#" class="btn btn-member">View 2013 Images</a></li>
                <li><a href="#" class="btn btn-member">View 2013 Video</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Informal Modeling</h1>
              <p>Saturday & Monday<br>1:30 - 2:00pm</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Tech Lounge</h1>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="box">
              <h1>Art Entertainment</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
