<section class="swim-header">
  <div class="container">
    <div class="col-sm-12 col-md-6 clearfix">
      <h1>SwimShow & Lingerie Show</h1>

      <p>Welcome to the SwimShow & LingerieShow and thank you for your interest in the largest and most significant swimwear tradeshow in the world.</p>
      <p>The annual SwimShow is an essential show for the industry—a platform for building relationships, enjoying the latest trends in swimwear and lingerie, and connecting buyers and suppliers. Recognized as the launching pad for many of the industry’s leading lines, SwimShow is hosted in Miami Beach, the swim fashion capital of the world!</p>
      <p>We welcome exhibitors and buyers from all around the world to join in this one-of-a-kind show that showcases more than 2,500 lines and now offers more space for exhibitors featuring new swimwear and lingerie lines.</p>
      <p>The show draws more than 2,500 buyers from 60 different countries spanning the globe. It is the largest swimwear tradeshow in the world and the first opportunity for buyers to see the latest designs for the upcoming cruise season.</p>

      <h2>Miami Beach Convention Center</h2>
      <h3>1901 Convention Center Drive</h3>
      <h4>Miami Beach, FL 33139</h4>
      <h4>Halls A, C & D</h4>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<section class="swim-sect-2" role="banner">
  <div class="container">
    <div class="col-sm-12 col-md-6 col-md-offset-6 clearfix">
      <h1>About The Show</h1>
      <h3>Dive in to the world’s biggest,  boldest and best swim show!</h3>
      <p>Turning heads and turning out trends for more than three decades, SwimShow 2015 will provide even more sizzle this year by adding 500,000 square feet of exhibition space for more hot new brands, designers and swimwear sensations. The bigger-and-better-than-ever SwimShow 2015 will feature:</p>
      <p>More of the finest women’s, men’s, children’s, resort & lifestyle and accessory collections from across the globe</p>
      <p>This can’t-miss show offers exclusive access to the latest trends in swimwear and lingerie, stunning sights and events, and a true celebration of the simple luxury of swimwear!</p>
      <p>July 18-21, 2015…enjoy the SWIM!</p>
    </div> <!-- end col-sm-10 -->
  </div>	<!-- end container -->
</section>

<!-- COUNTER -->
<section class="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Get Ready for July 18 - 21</h2>
      </div>
    </div>
    <div class="counter-wrap col-sm-12">
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">217</p>
        <h6 class="sub-info">Months</h6>
      </div> <!-- end col-sm-3 -->
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">365</p>
        <h6 class="sub-info">Days</h6>
      </div> <!-- end col-sm-3 -->
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">403</p>
        <h6 class="sub-info">Hours</h6>
      </div> <!-- end col-sm-3 -->
      <div class="col-sm-6 col-md-3">
        <p class="counter-number">189</p>
        <h6 class="sub-info">Seconds</h6>
      </div> <!-- end col-sm-3 -->
    </div> <!-- end counter-wrap -->
    <div class="col-sm-8 col-sm-offset-2">
      <div class="top-headline">
        <h3><em>...enjoy the <strong>SWIM!</strong></em></h3>
      </div> <!-- end headline -->
    </div> <!-- end col-sm-8 -->
  </div> <!-- end container -->
</section>
<!-- END COUNTER -->
<section class="swim-sect-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Check Out The Floor Plan</h1>
        <a target="_blank" href="https://s3.amazonaws.com/swim-show/Website+Images/FLOOR-PLAN-2015.pdf" class="btn btn-member">View Floorplan</a>
      </div>
    </div>
  </div>
</section>
