$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "background";
@import "ytplayer";
@import "style";


/************************************************************************************

Table of contents for my custom stuff:

1. Everything Global
2. Home Page
3. Swimshow Page
4. Show Dates
5. Special Events
6. Exhibitors
7. Retailers Page
8. Media Page
9. Travel Page

************************************************************************************/

// 1. This Global Homie

body{
  padding-top:60px;
}
p {
  font-family: $lato;
  font-weight: 300;
}
h6 {
  font-size: 15px;
  font-weight: 300;
}
footer {
  background: #303030;
  color: #ffffff;
  height: 100%;
  width: 100%;
  p {
    padding: 20px 0px;
    margin: 0 0 0px;
    font-weight: 300;
  }
  a {
    color: #ffffff;
    &:hover {
      color: #9B9B9B;
    }
  }
  .social {
    padding: 0px 10px;
  }
  .social-last {
    padding: 0px 0px 0px 10px;
  }
}


.paraeltop {
  padding-top:15px;
}

.navbar-inverse {
  background-color: #ffffff;
  border-color: rgba(0,0,0,0.1);
}
.navbar-brand{
  padding: 15px 20px;
  width: 220px;
  height: auto;
}

.navbar-nav {
  float: right;
  padding: 13px 40px 0px;
  li > a {
    color: #000000 !important;
    padding-bottom: 28px;
    font-family: $lato;
    font-weight: 300;
    &:hover{
      border-bottom: #ec816f solid;
    }
  }
}


ul.nav li.dropdown:hover > ul.dropdown-menu {
    border-top: none;
    display: block;
    a {
      padding: 1em;
    }
    a:hover {
      color: #ec816f !important;
      background: none;
      border-bottom: none;
      border-left: #ec816f solid 3px;
    }
}

.btn-member {
  @extend .btn-success;
  color: #303030;
  background-color: transparent;
  border-color: #303030;
  font-family: $lato;
  border-radius: 3px;
  padding: 5px 25px;
  font-weight: 300;
  &:hover, &:active, &:focus {
    background: #303030;
    color: #ffffff;
    border-color: #303030;
  }
}
.pre-registration {
    @extend .swim-sect-3;
    background: #f7f7f7 !important;
}

.delimiter{padding-top:50px;}

.rightb {
  border-right: #e1e1e1 solid 1px;
}

// Custom code for interior pages
// Lets start with the home page
// 2. El Home
.front-header {
  background: url(image-path("background-1.jpg")) repeat-y center bottom;
  max-width: 100%;
  min-height: 570px;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
  .top {
    padding-top: 25%;
  }
  .title{
    font-family: $playfair;
  }
  .date {
    font-family: $lato;
  }
  h1 {
    font-size: 70px !important;
  }
}

.home-days {
  padding: 200px 0px;
  background: #808080;
  margin: 0 auto;
  display: block;
  text-align: center;
  h1 {
    font-family:$playfair;
    color: #ffffff;
  }
  p{
    font-weight: 300;
    color: #ffffff;
  }
  img {
    width: 200px;
    padding: 30px;
  }
}

.home-member{
  padding: 200px 0px;
  background: #ffffff;
  margin: 0 auto;
  display: block;
  text-align: center;
  h2 {
    font-family:$playfair;
    color: #303030;
  }
  h3{
    font-family:$lato;
  }
  p {
    font-weight: 300;
    color: #303030;
    padding: 30px 0px;
  }
  img {
    margin: 0 auto;
    display: block;
    border: #f7f7f7 solid 15px;
  }
}
.section-counter {
  h2 {
    color: #ffffff;
    font-family: $playfair;
    font-size: 50px !important;
  }
  h3 {
    color: #ffffff;
    font-family: $lato;
    font-size: 40px !important;
    font-weight: 300;
  }
  h6 {
    margin-bottom: 50px;
  }
}

// 3. Swimshow Page
.swim-header {
  @extend .front-header;
  background: url(image-path("background-swimshow.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100% !important;
  padding: 50px 0px;
  h1 {
    padding: 0 0 5%;
    font-family: $playfair;
    font-size: 40px !important;
    color: #4d4a4a;
  }
  h2 {
    font-size: 20px !important;
    font-weight: 400;
    text-transform: uppercase;
    color: #4d4a4a;
  }
  h3 {
    font-size: 15px !important;
    font-weight: 300;
    color: #4d4a4a;
  }
  h4 {
    font-size: 15px !important;
    font-weight: 300;
    color: #4d4a4a;
  }
  p {
    color: #4d4a4a;
    font-weight: 300;
    padding: 1% 0;
  }
}

.swim-sect-2 {
  @extend .swim-header;
  background: url(image-path("background-swim2.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0px 120px;
  h1 {
    padding: 0;
  }
  h3 {
    padding: 0 0 5%;
  }
}
.swim-sect-3 {
  padding: 100px 0px 120px;
  background: #ffffff;
  text-align: center;
  margin: 0 auto;
  display: block;
  h1 {
    font-family: $playfair;
    font-size: 40px !important;
    color: #4d4a4a;
    padding-bottom: 20px;

  }
}

// 4. Show Dates
.showdates-head {
  background: url(image-path("showdates.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  max-width: 100%;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
  text-align: center;
  height: 100vh;
  .top {
    padding-top: 45%;
  }
  h1 {font-family: $playfair;font-size: 70px !important;}
  p {font-size: 16px;font-weight: 300;}
}

.dates {
  @extend .home-member;
  h3{
    font-family:$lato;
    font-size: 18px !important;
  }
  p {
    font-weight: 300;
    color: #303030;
    padding: 10px 0px;
    line-height: 1.7em;
  }
}
.dates-btm {
  @extend .swim-sect-3;
}

// 5. Special Events
.special-head {
  @extend .showdates-head;
  background: url(image-path("special-events.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  overflow-y: hidden;
  text-align: center;
  height: 100vh;
  .top {
    padding-top: 15%;
  }
}
.special-events {
  padding: 150px 0;
  h1 {
    font-family: $playfair;
    font-size: 30px !important;
    text-align: center;
  }
  p {
    font-weight: 300;
    text-align: center;
  }
  .box {
    padding: 80px 0;
    .btn-member {
      margin: 0 auto;
      display: block;
      width: 170px;
      padding: 5px 0px;
    }
    ul {
      text-align: center;
    }
    li {
      display: inline-block;
      padding: 0 10px;
    }
  }
}

// 6. Exhibitors
.exhibitors-head {
  @extend .showdates-head;
  background: url(image-path("exhibitors.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  overflow-y: hidden;
  text-align: center;
  height: 100vh;
  .top {
    padding-top: 50%;
  }
}

// 7. Retailers Page

.retailers-head {
  @extend .showdates-head;
  background: url(image-path("retailers.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  overflow-y: hidden;
  text-align: center;
  height: 100vh;
  .top {
    padding-top: 50%;
  }
}
.retailer-content {
  padding: 150px 0;
  ul, li {
    padding-left: 15px;
    list-style-type: circle;
  }
}

// 8. Media Page

.media-head {
  @extend .showdates-head;
  background: url(image-path("media-head.jpg")) repeat-y center bottom;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  overflow-y: hidden;
  text-align: center;
  height: 100vh;
  .top {
    padding-top: 50%;
  }
}
.media-content {
  @extend .retailer-content;
  ul, li {
    padding-left: 15px;
    list-style-type: decimal;
  }
  .space {
    padding-top: 50px;
  }
}
.media-content-2 {
  padding: 0 0 150px;
  h2 {
    font-family: $playfair;
    padding-bottom: 50px;
  }
  ul, li {
    padding-left: 15px;
    list-style-type: decimal;
  }
}

// 9. Travel Page
.location {
  @extend .dates-btm;
  padding: 50px 0;
  p {
    font-weight: 300;
  }
}

.travel-directions {
  background: #f7f7f7;
  padding: 50px 0 75px;
  h2 {
    font-family: $playfair;
    text-align: center;
  }
}
.travel-content {
  @extend .retailer-content;
  text-align: center;
  .delimiter {
    padding-top:200px;
  }
  h2 {
    font-family: $playfair;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  img {
    margin: 0 auto;
    display: block;
    border: #f7f7f7 solid 15px;
  }
}
