<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <p class="pull-left">Designed with &hearts; in miami by <a href="http://stiltmedia.com" target="_blank">stiltmedia</a> &nbsp;&nbsp;|&nbsp;&nbsp; © 2015 All Rights Reserved</p>
        <p class="pull-right">
          <span class="social"><i class="fa fa-facebook"></i></span>
          <span class="social"><i class="fa fa-twitter"></i></span>
          <span class="social-last"><i class="fa fa-instagram"></i></span>
        </p>
      </div>
    </div>
  </div>
</footer>
