<li><%= link_to 'Swimshow', swimshow_path %></li>
<li><a href="#">Current Lines</a></li>
<li><a href="#">Gallery</a></li>
<li><a href="#">Classifieds</a></li>
<li><a href="#">News</a></li>
<li><a href="#">West Coast Regional</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">Contact</a></li>
